version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: meu_banco
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
